* {
    margin: 0;
    padding: 0;
    
  }
    
  
  body
  {
    font-family:"Poppins";
    background-position: no-repeat;
    background-size:cover;
    background-position:left ;
    background-attachment:fixed;
    background-color: #41B3A3;
  
  }
  .btn-1
{
  background:#266484;
  border: 0;
  margin-left: 20PX;
  margin-top: 150px;
  width: 90px;
  height: 40px;
  border-radius: 30px;
  color: #ffff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.btn-1:hover {
  background: #69b578;
  animation-name: shake;
}
  
  h2 {
    color:black;
    font-family: "Tisa";
    font-size: 20px;
    font-weight: bold;
    font-size: 3.6em;
    text-align: center;
    margin-bottom: 12px;
  }
  
  .ManualEntry {
    width: 350px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -175px;
    font-size: 15px;
  }
  
  input[type="number"], input[type="number"] {
    width: 350px;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
    color: black;
    font-size: 20px;
  }
  input[type="text"], input[type="text"] {
    width: 350px;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
    color: black;
    font-size: 20px;
  }
  .btn-2
{
  background:grey;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 30px;
  color: #ffff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.btn-2:hover {
  background: #a0ced9;
  animation-name: shake;
}