
* {
  margin: 0;
  padding: 0;
  
}
  

body
{
  background-image:url("Req.gif");
  font-family:"Poppins";
  background-position: no-repeat;
  background-size:cover;
  background-position:left ;
  background-attachment:fixed;
  background-color: #41B3A3;
  

}

.btn2
{
  margin-left:30px;
  margin-top:150px;
  border: 0;
  width: 90px;
  height: 40px;
  background:#5f85db;
  background-image: linear-gradient(
    225deg,
    #27d86c 0%,
    #26caf8 50%,
    #c625d0 100%
  );
  box-shadow: 0 0 0 0 rgba(143,64,248,0.5),0 0 0 0(39,200,255,0.5);
   border-radius: 30px;
  color: #ffff;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn2:hover {
  
  transform: translate(0,-6px);
  box-shadow: 10px -10px 25px 0 rgba(143,64,248,0.5),-10px 10px 25px 0(39,200,255,0.5);
}

h2 {
  color:#3CAEA3;
  font-family: "Tisa";
  font-size: 20px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 12px;
}
  

a {
  color: #435160;
  text-decoration: none;
}

.Speed-Check {
  width: 350px;
  position: absolute;
  top: 10%;
  left: 80%;
  margin-left: -175px;
  font-size: 15px;
}

input[type="alphanumeric"], input[type="number"] {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #7E8CE0;
  font-size: 20px;
}


label {
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #1d3249;
}



.btn1
{
  background:#0EA2F6;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 30px;
  color: #ffff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.btn1:hover {
  background: #3d3a50;
  animation-name: shake;
}







::-webkit-input-placeholder {
  color:#659DBD;
  font-size: 20px;
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}