<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dedsec995.speedtime">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpeedTime"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".BeforeData.BeforeTimestData"
            android:exported="false" />
        <activity
            android:name=".BeforeData.BeforeAlertData"
            android:exported="false" />
        <activity
            android:name=".BeforeData.BeforeVerifiedData"
            android:exported="false" />
        <activity
            android:name=".BeforeData.BeforeSpeedData"
            android:exported="false" />
        <activity
            android:name=".BeforeData.BeforeVinData"
            android:exported="false" />
        <activity
            android:name=".Activity.DataQueryPrint"
            android:exported="false" />
        <activity
            android:name=".Activity.ManualEntry"
            android:exported="false" />
        <activity
            android:name=".Activity.MakeData"
            android:exported="false" />
        <activity
            android:name=".Data.ShowAllData"
            android:exported="false" />
        <activity
            android:name=".Data.DataByVin"
            android:exported="false" />
        <activity
            android:name=".Data.DataBySpeed"
            android:exported="false" />
        <activity
            android:name=".Data.DataByVerified"
            android:exported="false" />
        <activity
            android:name=".Data.DataByAlert"
            android:exported="false" />
        <activity
            android:name=".Data.DataByTimest"
            android:exported="false" />
        <activity
            android:name=".Activity.AdminActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activity.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>